.app-header {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  height: 64px;
}

.title {
  margin-left: 12px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}
