<mat-toolbar color="primary" class="app-header">
    <button mat-icon-button (click)="toggleSidebar.emit()">
        <mat-icon>menu</mat-icon>
    </button>


    <span class="title">Admin Panel</span>


    <span class="spacer"></span>


    <button mat-icon-button aria-label="notifications">
        <mat-icon>notifications</mat-icon>
    </button>
    <!-- Theme toggle -->
    <!-- <button mat-icon-button aria-label="theme toggle" (click)="toggleTheme()">
        <mat-icon>{{ themeService.isDark() ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button> -->
    <button mat-icon-button aria-label="account" [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>My Account</button>
        <button mat-menu-item>Log out</button>
    </mat-menu>

</mat-toolbar>